Repository msarilar/EDEngineer, pull requests merged in 2019-03, with the labels that each got.

#498 Russian translation update
  EDEngineer/Resources/Data/localization.json
Labels: Localization, Russian

#499 French translation update
  EDEngineer/Resources/Data/localization.json
Labels: French, Localization

#500 Update of the blueprints offered by the Colonia engineers, including
  EDEngineer/Resources/Data/blueprints.json
Labels: RefData, enhancement
